.tasks {
  .indicator {
    min-width: 0em;
    min-height: 0.25em;
    border-radius: 0.125em;
    transition: min-width 0.3s;

    &.active {
      min-width: 1em;
      background-color: #{"@accent_color"};
    }
  }
}
