.slider {
  min-width: 10em;
  padding: 0;

  slider {
    background-color: transparent;
    box-shadow: none;
  }

  trough {
    min-height: 1em;
    background-color: #{"@scrollbar_outline_color"};

    &,
    highlight {
      border-radius: 2em;
    }
  }
}
