.workspaces {
  .workspace {
    min-width: 0em;
    min-height: 0.5em;
    border-radius: 2em;
    background-color: #{"@scrollbar_outline_color"};

    &.active {
      min-width: 1em;
      background-color: #{"@accent_color"};
    }
  }
}
