.workspaces {
  .workspace {
    padding: 0;
    min-width: 1em;
    min-height: 1em;
    border-radius: 2em;
    background-color: #{"@scrollbar_outline_color"};

    &:hover {
      background-color: #{"@accent_color"};
    }

    &.active {
      min-width: 2em;
      background-color: #{"@accent_color"};
    }
  }
}
